@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .link-light {
    @apply text-teal-50 hover:text-teal-200 underline underline-offset-4 font-bold;
  }
  .link-dark {
    @apply text-teal-950 hover:text-teal-800 underline underline-offset-4 font-bold;
  }
}
