@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .link-light {
    @apply text-bamboo-50 hover:text-bamboo-200 underline underline-offset-4 font-bold;
  }
  .link-dark {
    @apply text-bamboo-800 hover:text-bamboo-600 underline underline-offset-4 font-bold;
  }
  .link-active-light {
    @apply text-bamboo-200 underline underline-offset-4 font-bold;
  }
  .link-active-dark {
    @apply text-bamboo-600 underline underline-offset-4 font-bold;
  }
}

@media print {

  .print-page-break {
    page-break-before: always;
  }
  .print-avoid-break {
    page-break-inside: avoid;
  }

}

* {
  box-sizing: border-box; /* Apply to all elements */
}

